NET "CLOCK" LOC = T9;
NET "CLEAR" LOC = L14;
#NET "BUTTON" LOC = L13;
#NET "CHEQ" LOC = M14;
#NET "PERDEP1" LOC = P11;
#NET "PERDEP2" LOC = P12;
#NET "POWER" LOC = N8;


NET "A" LOC = E14;
NET "B" LOC = G13;
NET "C" LOC = N15;
NET "D" LOC = P15;
NET "E" LOC = R16;
NET "F" LOC = F13;
NET "G" LOC = N16;
NET "E13" LOC = E13;
NET "F14" LOC = F14;
NET "G14" LOC =G14;
NET "D14" LOC = D14;
NET "M1" LOC = P11;
NET "M2" LOC = P12;
NET "M3" LOC = P13;
NET "M4" LOC = N14;