//! **************************************************************************
// Written by: Map P.20131013 on Fri Sep 20 20:27:15 2019
//! **************************************************************************

SCHEMATIC START;
COMP "M1" LOCATE = SITE "P11" LEVEL 1;
COMP "M2" LOCATE = SITE "P12" LEVEL 1;
COMP "M3" LOCATE = SITE "P13" LEVEL 1;
COMP "M4" LOCATE = SITE "N14" LEVEL 1;
COMP "D14" LOCATE = SITE "D14" LEVEL 1;
COMP "E13" LOCATE = SITE "E13" LEVEL 1;
COMP "F14" LOCATE = SITE "F14" LEVEL 1;
COMP "G14" LOCATE = SITE "G14" LEVEL 1;
COMP "CLEAR" LOCATE = SITE "L14" LEVEL 1;
COMP "A" LOCATE = SITE "E14" LEVEL 1;
COMP "B" LOCATE = SITE "G13" LEVEL 1;
COMP "C" LOCATE = SITE "N15" LEVEL 1;
COMP "D" LOCATE = SITE "P15" LEVEL 1;
COMP "E" LOCATE = SITE "R16" LEVEL 1;
COMP "F" LOCATE = SITE "F13" LEVEL 1;
COMP "G" LOCATE = SITE "N16" LEVEL 1;
COMP "CLOCK" LOCATE = SITE "T9" LEVEL 1;
NET "CLOCK_BUFGP/IBUFG" BEL "CLOCK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

