NET "CLOCK" LOC = T9;
NET "CLEAR" LOC = L14;
#NET "POWER" LOC = N8;


NET "A" LOC = E14;
NET "B" LOC = G13;
NET "C" LOC = N15;
NET "D" LOC = P15;
NET "E" LOC = R16;
NET "F" LOC = F13;
NET "G" LOC = N16;
NET "E13" LOC = E13;
NET "F14" LOC = F14;
NET "G14" LOC =G14;
NET "D14" LOC = D14;