//! **************************************************************************
// Written by: Map P.20131013 on Sat Sep 21 21:07:48 2019
//! **************************************************************************

SCHEMATIC START;
COMP "Y0" LOCATE = SITE "P11" LEVEL 1;
COMP "Y1" LOCATE = SITE "P12" LEVEL 1;
COMP "Y2" LOCATE = SITE "N12" LEVEL 1;
COMP "CHEQ" LOCATE = SITE "J13" LEVEL 1;
COMP "CLEAR" LOCATE = SITE "K13" LEVEL 1;
COMP "TIMEOUT" LOCATE = SITE "J14" LEVEL 1;
COMP "BUTTON" LOCATE = SITE "K14" LEVEL 1;
COMP "CLOCK" LOCATE = SITE "T9" LEVEL 1;
NET "CLOCK_BUFGP/IBUFG" BEL "CLOCK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

